/* Application styles */

body {
  font-family: Consolas;
  background: linear-gradient(to top right, #e7bbbb, #9198e5);
  min-height: 100vh;
  background-repeat: no-repeat;
  padding: 140px;
}

.container {
  color: black;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

ul li {
  margin-right: 3rem;
}

hr {
  margin: 1rem 0;
  border-color: rgb(36, 39, 43);
  border-width: 2px;
}

a {
  color: purple;
  padding: 0.5rem 1rem;
}

a:hover {
  background-color: purple;
  color: white;
}

button[type="submit"] {
  margin-top: 1rem;
}