<p style="color: green"><%= notice %></p>

<h1>Users List Here:</h1>

<div id="users" class="container">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<%= link_to "Create New user", new_user_path %>
